@import "tailwindcss";

@theme {
  --color-primary: #13ec49;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102215;
  
  --color-primary-content: #ffffff;
  --color-secondary-content: #475569;

  --radius-DEFAULT: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.dumbbell-shadow {
  filter: drop-shadow(0 0 30px rgba(19, 236, 73, 0.2));
}

@layer components {
  .btn-base {
    display: flex;
    min-width: 200px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 9999px;
    height: 3.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
    transition: all 0.2s;
  }
  
  .input-base {
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    border-width: 2px;
    border-color: #cbd5e1;
    background-color: transparent;
    color: #0f1729;
    transition: all 0.2s;
  }
  
  .input-base:focus {
    outline: none;
    border-color: var(--color-primary);
  }
  
  .input-base::placeholder {
    color: #94a3b8;
  }
  
  :is(.dark .input-base) {
    border-color: #23482c;
    color: white;
  }
  
  :is(.dark .input-base)::placeholder {
    color: #64748b;
  }
}